body,
html {
    width: 100%;
    font-family: 'Roboto' !important;
    scroll-behavior: smooth;
}
a:focus {
    outline: none;
}
button:focus {
    outline: none;
}
a:hover,
a:focus {
    text-decoration: none;
}
li{
    list-style: none;
}
@font-face {
    font-family: 'Avenir-Heavy';
    src: url('../fonts/Avenir-Heavy.ttf') format('TrueType');
}
@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/Avenir-Medium.ttf') format('TrueType');
}
@font-face {
    font-family: 'Avenir-Black';
    src: url('../fonts/Avenir-Black.ttf') format('TrueType');
}
@font-face {
    font-family: 'Avenir-Roman';
    src: url('../fonts/Avenir-Roman.otf') format('OpenType');
}
.Avenir-Heavy {
  font-family: 'Avenir-Heavy';
}
.Avenir-Medium {
  font-family: 'Avenir-Medium';
}
.Avenir-Black {
  font-family: 'Avenir-Black';
}
.Avenir-Roman {
  font-family: 'Avenir-Roman';
}
.nav-fix {
    position: absolute !important;
    top: 0;
    height: 80px;
    width: 100%;
    transition: all 0.5s ease;
    background: transparent;
    border-radius: 0px !important;
    z-index: 9999;
    transition: all 0.5s ease;
}
.events-nav li {
    display: inline-block;
    padding: 0px;
    margin-right: 10px;
}
.events-nav li a {
    color: #f7f7f7;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    transition: 0.3s;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #000000;
    font-family: 'Avenir-Black';
}
.events-nav li a:first-child {
    padding-bottom: 30px;
}
.events-nav li a:hover {
    background-color: transparent!important;
    color: #fff;
}
.fixed {
    position: fixed !important;
    top: 0;
    height: 80px;
    z-index: 999;
    background-color: #0f0f0f  !important;
    border: none;
    transition: all 0.5s ease;
}
.nav > li > a:focus {
    background-color: transparent !important;
    color: #fff;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle {
    margin-top: 10px !important;
    padding: 0px !important;
}
.events-nav {
    font-size: 13px;
    font-weight: 500;
    line-height: 10px;
    padding: 14px 15px;
}
.events-brand {
    float: none !important;
}
.events-mb-brand {
    display: none;
    padding: 12px 15px !important;
}
.navbar {
    margin-bottom: 0px !important;
}
.events-colapse-nav .events-mb-nav {
    padding: 4px 20px;
}
.events-colapse-nav .events-mb-nav a {
    font-size: 17px !important;
    color: #02322b !important;
}
.events-colapse-nav .events-mb-nav a:hover {
    color: #fff !important;
}
.events-colapse-nav .events-mb-nav a:nth-child(2):hover {
    color: #fff !important;
}
.events-nav-divider {
    border-bottom: 1px solid #047d6b;
    display: block;
    margin: 0px 20px;
}
.events-colapse-nav {
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #07d2b3;
    overflow-x: hidden;
    transition: all 0.6s ease;
    transform: translateX(-100%);
    padding-top: 60px;
    padding-bottom: 20px;
    width: 75%;
}
.events-colapse-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #047d6b;
    display: block;
    font-weight: 700;
}
.events-colapse-nav a:hover,
.offcanvas a:focus {
    color: #fff !important;
    text-decoration: none;
}
.events-colapse-nav a:nth-child(2):hover {
    color: #047d6b !important;
}
.events-colapse-nav .closebtn {
    position: absolute;
    top: -4px;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}
carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.thumbnail a>img,
.thumbnail>img {
    width: 80%;
    height: 500px;
}
#myCarousel {
    display: block;
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    top: 0px;
    padding: 0px;
}
#mobileshow {
    display: none;
}
/* .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.carousel-indicators li {
    display: inline-block;
    width: 20px !important;
    height: 20px !important;
    margin-right: 8px !important;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: #0d54ef !important;
    border: 1px solid #0d54ef !important;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 22px !important;
    height: 22px !important;
    margin: 0;
    background-color: #07d2b3 !important;
    border: 1px solid #07d2b3 !important;
} */
.carousel-navigation {
    position: absolute;
    left: 50%;
    bottom: 66px;
    z-index: 99;
    transform: translateX(-50%);
    display: flex;
    min-width: 130px;
}
.carousel-navigation a{
    margin: 0 auto;
}
.carousel-navigation a h4 {
    color: #fff;
    font-size: 40px;
    display: inline-block;
}
.carousel-navigation a h4:hover {
    color: #32ea91;
}
/* .carousel-navigation a:hover{
    background: #32ea91;
    padding: 13px 15px;
    border-radius: 6px;
    display: inline-block;
} */

.intro-bgs-1{
    background: url('../../assets/images/bg-1.jpg');
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) !important;
    transform-origin: 0% 0% 0px !important;
}
.intro-bgs-1::after{
    background: #000;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top:0;
    left: 0;
    opacity: 0.6;
}
.intro-bgs-2{
    background: url('../../assets/images/bg-2.jpg');
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}
.intro-bgs-2::after{
    background: #000;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top:0;
    left: 0;
    opacity: 0.6;
}
.intro-bgs-3{
    background: url('../../assets/images/bg-3.jpg');
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}
.intro-bgs-3::after{
    background: #000;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top:0;
    left: 0;
    opacity: 0.6;
}
.slider-wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    text-align: center;
}
.slider-wrapper h3{
    font-size: 56px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
}
.slider-wrapper p{
    color: #32ea91;
    font-size: 30px;
}
.social-links {
    margin-top: 20% !important;
    text-align: right;
}
.social-links li{
    display: inline-block;
    margin-right: 20px !important;
}
.social-links li a img{
    width: 35px;
}
.sub-form-text{
    text-align: right;
    color: #fff;
    font-size: 24px;
}
.subscribe-form{
    text-align: right;
}
.subscribe-form input{
    color: rgba(255,255,255,0.6);
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 20px;
}
.subscribe-form button{
    background: transparent;
    border: 1px solid #ccc;
    padding: 6px 20px;
    outline: none;
    display: block;
    margin-left: auto;
    color: rgba(255,255,255,0.6);
}
.get-in-touch input{
    color: rgb(241, 241, 241);
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 30px;
    margin-right: 12px;
}
.get-in-touch textarea{
    resize: none;
    width: 100%;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    min-height: 180px;
    outline: none;
    padding: 10px;
    color: rgb(241, 241, 241);
}
.get-in-touch button{
    background: transparent;
    border: 1px solid #ccc;
    padding: 7px 20px;
}
.get-in-touch-text{
    color: #fff;
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Avenir-Black';
}
#contact{
    background: #0f0f0f;
    padding: 80px 0px;
}
.contact-det{
    margin: 20% 55px;
    color: #fff;
    font-size: 18px;
}
.testi-wrapper{
    display: flex;
}
.testi-wrapper img{
    width: 130px;
    margin-right: 20px;
}
.testi-wrapper p{
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding:0 5%;
    font-family: 'Avenir-Roman';
}
.user-name{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #32ea91;
}
#myCarousel_two ol li{
    margin-right: 20px !important;
}
.about-bg{
    background: url('../images/about.jpg');
    min-height: 70vh;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    padding: 110px 0px 40px;
}
.about-wrapper h4{
    text-align: right;
    color: #32ea91;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Avenir-Black';
}
.about-wrapper b{
    color: #fff;
    float: right;
}
.about-wrapper p{
    text-align: center;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 34px;
    margin-top: 50px;
    font-family: 'Avenir-Medium';
}
.team-wrapper{
    position: relative;
    width: 100%;
    margin: 0;
    perspective: 800px;
}
.avatar-wrapper{
    z-index: 2;
    width: 100%;
    background: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.avatar-bg-wrapper{
    height: 200px;
    overflow: hidden;
}
.avatar-bg-wrapper img{
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.team-avatr{
    display: block;
    width: 180px;
    margin-top: -115px;
    overflow: hidden;margin-left: auto;margin-right: auto;
}
.team-avatr img{
    border-radius: 50%;
    width: 100%;
    background: none repeat scroll 0 0 #fff;
    border: 5px solid #fff;
}
.avatar-data{
    padding:20px;
    -webkit-border-radius: 0!important;
    border-radius: 0!important;
    text-align: center;
}
.avatar-data h4{
    font-family: 'Avenir-Black';
    color: #000000;
}
#team{
    background: url('../../assets/images/events.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
    position: relative;
}
.team-overlay{
    content: "";
    background:rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0px;
}
.team-content{
    padding: 20px;
    margin : 5% 0; 
}
.team-content h4 {
    color: #32ea91;
    font-size: 26px;
    margin-bottom: 28px;
}
.team-content p {
    font-family: 'Avenir-Roman';
    color: #ffffff;
    font-size: 18px;
}
.gallery-bg{
    background: white;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin: 100px 0px;
}
.gallery-img {
    padding: 0 5px 0px 10px;
    margin-bottom: 20px;
}
.gallery-img img{
    width: 100%;
    height: 200px;
}
.gallery-wrapper{
    padding: 10px;
    margin: 0px !important;
}
#gallery{
    padding-top: 20px;
}

/*services*/
#services{
    padding-top: 100px;
}
.service-container{
    text-align: center;    
    min-height: 400px;
}
.service-container p{
    color: #6d7c90;
    line-height: 30px;
    font-size: 18px;
}
.service-container h3{
    font-size: 18px;
    color: #000000;
}
.service-container p span{
    color: #000;
    font-size: 12px;
    cursor: pointer;
}
.serive-img{
    box-shadow: 0 4px 24px 0 rgba(103,151,255,.1), 0 12px 64px 0 rgba(103,151,255,.1);
    border-radius: 100px;
    padding: 6px;
    width: 170px;
    height: 170px;
    margin: 0 auto;
    display: block;
}
.serive-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media (max-width: 767px) {
    .events-slider-imgtext {
        font-size: 15px;
        padding-top: 10px;
    }
    .events-mb-brand img {
        width: 60px;
    }
    .navbar-toggle img {
        width: 30px;
    }
    .fixed {
        height: 60px;
    }
    .events-nav-mail {
        right: 0px !important;
    }
    .events-contact-bg {
        font-size: 25px;
        padding: 100px 0px;
    }
    .events-services-text {
        font-size: 30px;
    }
    .events-mobile-apps-text {
        font-size: 17px;
    }
    .events-mobile-apps-name {
        font-size: 14px;
    }
    .about-bg{
        padding-top: 20px;
    }
    .get-in-touch-text{
        text-align: center;
    }
    #services{
        padding-top: 30px;
    }
    .service-container{
        min-height: 1px;
    }
    .gallery-bg{
        margin: 0px;
    }
    .testi-wrapper{
        display: block;
        text-align: center;
    }
    .user-name{
        bottom: -15px;
    }
    .get-in-touch input{
        width: 100%;
    }
    .get-in-touch{
        text-align: center;
    }
    #contact{
        padding: 20px;
    }
    .social-links {
        margin-top: 6% !important;
        text-align: center;
    }
    .sub-form-text{
        text-align: left;
        font-size: 16px;
    }
    .subscribe-form button{
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .contact-det {
        margin: 12% 16px;
    }
    .subscribe-form input{
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width:10124px) {
    .about-bg{
        min-height: 54vh;
    }
    .contact-det{
        margin: 7% 20px;
    }
    .gallery-bg{
        margin: 30px 0px;
    }
    .social-links{
        margin-top: 5% !important;
    }
}